.banner-dashboard {
  height: 247px;
  background: #227C9D;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-bottom-left-radius: 100px;
  position: relative;
  color: white;
}

.banner-dashboard img {
  position: absolute;
  height: 300px;
  width: 300px;
  bottom: -30px;
  right: -70px;
}

.message {
  position: absolute;
  bottom: 100px;
  padding-left: 5%;
}
