// Specific CSS for your home-page
body {
  min-height: 100vh;
  padding: 0;
}

.navbar {
  background: #FFEABF;
}



.banner {
  height: 247px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #FFEABF;
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 100px;
}

.dropdown {
  margin-left: 420px;
}

.ingredient-slot {
  height: 150px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #FFEABF;
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.choose-button{
  margin-top: 20px;
  margin-left: 236px;
}
