// Specific CSS for your home-page
body {
  min-height: 100vh;
  padding: 0;
}

.navbar {
  background: #FEF9EF;
}

.banner {
  height: 247px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #FEF9EF;
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 100px;
  position: relative;
}

.banner img {
  height:240px;
  width: 576px;
  position: absolute;
  left: 70px;
  bottom: 2px;
  width: fit-content;
  width: -moz-fit-content;

}

.dropdown {
  margin-left: 420px;
}

.ingredient-slot {
  height: 150px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  background: #FFCB77;
  box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}

.finish-button {
  margin-top: 10px;
}
