.card-image {
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: flex;
  flex-direction: column;
}

.recipe-name {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  color: white;
  h1 {
    // backdrop-filter: blur(6px);
    padding: 1%;
    padding-left: 20px;
    padding-right: 20px;
  }
}


.button-show {
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
}

.recipe-minutes {
  background-color: #FFCB77;
  padding: 5px;
  border-radius: 5px;
  margin: 15px;

}

.recipe-kcal {
  background-color: #FFEABF;
  padding: 5px;
  border-radius: 5px;
  margin: 15px;
}

.swipe-btn img {
  height: 100%;
  width: 100%;
  padding: 0;
}
