.show-image {
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3%;
}

.button-icon {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
