

<div class="container-fluid">
  <div class="banner">
    <div class= "col-sm-12">
        <a href="#" class="btn btn-success">button</a>
      <div class="row">
        <h1>Welcome to Yumster</h1>
      </div>
    </div>
  </div>
</div>
<hr>

<br>
<br>
  <div class="container-fluid">
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-sm-12 d-flex allign-item-center">
          <h3>slot carbs</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-sm-12 d-flex allign-item-center">
          <h2>slot meat/plant protein</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="ingredient-slot">
        <div class="row">
          <div class= "col-sm-12 d-flex allign-item-center">
            <h2>slot veggies</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="row">
    <div class= "col-sm-12">
      <h4>footer</h4>
    </div>
  </div>
</div>
