
<div class="container-fluid">
  <div class="banner">
    <div class= "col-sm-12">
      <%=image_tag "logo-yumster.svg"%>
    </div>
  </div>
</div>

<br>
<br>
  <div class="container-fluid">
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-sm-12 d-flex allign-item-center">
          <h3>slot carbs</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-sm-12 d-flex allign-item-center">
          <h2>slot meat/plant protein</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
      <div class="ingredient-slot">
        <div class="row">
          <div class= "col-sm-12 d-flex allign-item-center">
            <h2>slot veggies</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid">
  <div class="footer">
    <div class= "col-sm-12">
      <button type="button" class="choose-button btn-warning justify-content-center">Go to recipe</button>
    </div>
  </div>
</div>
