
<div class="container-fluid p-0">
  <div class="container-fluid p-0">
    <div class="row">
      <div class= "col-12">
        <div class= "banner">
            <%=image_tag "logo-yumster.svg", class: "logo"%>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-sm-12 d-flex align-item-center">
          <h3>slot carbs</h3>
        </div>
          <% @ingredients_carbs.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>'
      </div>
    </div>
    <div class="ingredient-slot">
      <div class="row">
        <div class= "col-sm-12 d-flex align-item-center">
          <h2>slot meat/plant protein</h2>
        </div>
        <% @ingredients_protein.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </div>
    </div>
      <div class="ingredient-slot">
        <div class="row">
          <div class= "col-sm-12 d-flex align-item-center">
            <h2>slot veggies</h2>
          </div>
          <% @ingredients_vegetable.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </div>
      </div>
  <div class="footer">
    <div class= "col-sm-12">
      <button type="button" class="choose-button btn-warning justify-content-center">Go to recipe</button>
    </div>
  </div>
</div>
