.navbar {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  text-align: right;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-toggler {
  border: none;
}

.fa-bars {
  color: #FE6D73;
  line-height: 2;
  font-size: xx-large;
}
